!!!
%head
  %title= title
%body
  %h1 title:#{title}
  %p my value is #{value}
%script{src: "/socket.io/socket.io.js"}
:javascript
  var socket = io.connect();
  console.log (socket);
  socket.on('message:receive', function (data) {
    $("div#chat-area").prepend("<div>" + data.message + "</div>");
  });

  function send() {
    var msg = $("input#message").val();
      $("input#message").val("");
      socket.emit('message:send', { message: msg });
      }
